#shape {
    
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
} 


body {
    
    font-family: sans-serif;
}

.bold {
    
    font-weight: bold;
    float: left;
    width: 400px;
    margin: 5px;
    padding: 5px;
}

